// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  width: 60%;
  margin: auto;
  margin-top: 1rem; 	
}

.form {
	width: 50%;
	margin: 4rem auto 4rem auto;
   }


.form_element {
	
	width: 100%;
	margin: auto;
}

.card {
	margin-top: 1rem;
}